@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display&display=swap');

* {
  /* outline: 1px dotted red; */
}

.heading {
  font-family: 'Playfair Display', serif;
}
.header {
  margin-bottom: 10px;
}

.container-large {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 40px;
}

.form-card {
  padding: 20px;
}

.products {
  margin-top: 20px;
}

.product {
  padding: 20px;
  margin: 10px 0;
}
